.input{
    display:flex;
    flex-direction:column;
    gap:20px;
    
}
input{
    width:200px;
    margin-left:40px;
    margin-top: 60px;
    height:35px;
    width:300px;
    
   

}
.succes_button{
    width:200px;
    margin-left:40px;
    margin-top: 30px;
    height:35px;
    width:300px;
    background-color:black;
    color:white;
    font-family: sans-serif;
    border:none;
    border-radius:5px
}
.fullbox{
    background-color:white;
    width: 400px;
    height:500px;
    border-radius:5px
}